 * { 
     box-sizing: border-box;
     background-color: #1976d2;
      
   }

 a {
      display: inline-block;
      margin: 0 .2em;
      padding: .5em;
      font-size: 2em;
      font-weight: bold;
      color: white;
      text-decoration: none;
      cursor: pointer;
     }

 div {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: #1976d2;
      color: white;
     }
