app-top-bar {
  margin: 0;
}

div {
  margin: 1.7em;
}

button {
  border: none;
  padding: .5em 1.2em;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  font-family: Arial;
  font-size: .8em;
  font-weight: bold;
}

button:hover {
  background-color: #1976ff;
  left: 2.1em;
}